@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject IAuthService AuthService

@if (!IsLoginPage)
{
    <MudLayout>
        <MudAppBar Elevation="1" Color="Color.Primary">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        </MudAppBar>

        <MudDrawer @bind-Open="@_open" ClipMode="@DrawerClipMode.Always" Elevation="1" Variant="@DrawerVariant.Responsive">
            <MudDrawerHeader>
                <MudStack>
                    <MudImage Src="images/logo.png" Height="50" />
                    <MudText Typo="Typo.h6">PotoDocs</MudText>
                </MudStack>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/">Strona główna</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Assignment" Href="zlecenia">Zlecenia</MudNavLink>

                <AuthorizeView Roles="admin">
                    <Authorized>
                        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ReceiptLong" Href="faktury">Faktury</MudNavLink>
                        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People" Href="uzytkownicy">Użytkownicy</MudNavLink>
                    </Authorized>
                </AuthorizeView>
            </MudNavMenu>

            <MudSpacer />

            <MudNavMenu Class="pb-4">
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings" Href="ustawienia">Ustawienia</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Logout" @onclick="Logout">Wyloguj</MudNavLink>
            </MudNavMenu>

            <div class="version-info" style="font-size: 0.75rem; color: #bdbdbd; text-align: center; padding-bottom: 10px;">
                v@(AppVersion)
            </div>

        </MudDrawer>

        <MudMainContent>
            <article class="content px-4">
                @Body
            </article>
        </MudMainContent>
    </MudLayout>
}
else
{
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
}

@code {
    private bool IsLoginPage => Navigation.Uri.Contains("/logowanie", StringComparison.OrdinalIgnoreCase);
    private bool _open = true;

    private string AppVersion { get; set; } = "1.0.0";

    private void ToggleDrawer()
    {
        _open = !_open;
    }

    private async Task Logout()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/logowanie");
    }

    protected override void OnInitialized()
    {
        var version = typeof(Program).Assembly.GetName().Version;
        if (version != null)
        {
            AppVersion = $"{version.Major}.{version.Minor}.{version.Build}";
        }
    }
}